/* TEXT COLORS */

body{
color: #333333;
}

.movie-background {
background:none;
-ms-filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000,endColorstr=#99000000);
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000,endColorstr=#99000000);
zoom: 1;
background-color: rgba(0,0,0,0.6);
min-width: inherit;
}

*:first-child+html .movie-background { min-width: 100%; }

.form-input-field{
color: #1E1E1E;
}

#sectionWrap a {
color: #666666;
}

#sectionWrap a:hover {
color: #999999;
}

h1, h2, h3, h4, h5, h6, 
.blog-entry-title a, 
.blog-entry-date,
.blog-archive-month,
.blog-entry-title a:hover, 
.album-title, 
.movie-page-title {
color: #222222;
}

#siteTitle, 
#siteTitle a,
footer {
color: #FFFFFF;
}

h2#aside,
nav>ul>li,
#blog-rss-feeds:before, 
ul.blog-tag-cloud:before, 
#blog-archives:before, 
#blog-categories:before {
color: %colour_side_title%;
}

aside{
color:#AAAAAA;
}

aside a{
color:#FFFFFF;
}

aside a:hover{
color:#FFFFFF;
}

#asideTitle{
color:#FFFFFF;
}

#siteTitle{
border-bottom-color: #6F6F6F;
}

nav{
border-top-color: #6F6F6F;
border-bottom-color: #6F6F6F;
}

footer{
border-top-color: #6F6F6F;
}

nav>ul>li a,
.blog-rss-link, 
ul.blog-tag-cloud a {
color: #FFFFFF;
}

nav>ul>li a:hover, 
.photo-links a:hover,
nav>ul>li a.current, 
nav>ul>li a.currentAncestor,
footer a {
color: #FFFBD6;
}

nav>ul>li li a {
color: #FFFFFF;
}

nav>ul>li li a:hover,
nav>ul>li li a.current,
nav>ul>li li a.current:hover,
nav>ul>li li a.currentAncestor,
nav>ul>li li a.currentAncestor:hover {
color: #FFFBD6;
}

#swatchA{background-color: #02254C;}
#swatchB{background-color: #989486;}
#swatchC{background-color: #EEEDD8;}

#socialIcons a{color:#BBBBBB;}

#socialIcons a:hover{color:#333333;}


		header{
position: absolute;
}

#texture{background-image: url(images/dot25.png);}

#accent{
background: url(images/accent.png) 0px 0px no-repeat;
height: 900px;
width: 500px;
position: fixed;
z-index: 0;
opacity:.5;
-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
filter: alpha(opacity=50);
}

.fade-in {
    -webkit-animation-name: reset, fade-in;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: ease-in;
    -webkit-animation-iteration-count: 1;
}
 
.fade-in.one {-webkit-animation-delay: 0, 0;}

@-webkit-keyframes reset {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
    }
     
    @-webkit-keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: .5;
    }
}


#siteTitle, footer, h1, h2, h3, h4, h5, h6, 
.blog-entry-title a, 
.blog-entry-date,
.blog-archive-month,
.blog-entry-title a:hover, 
.album-title, 
.movie-page-title{
-webkit-font-smoothing: antialiased;
font-family: 'BebasNeueRegular';
font-weight: normal;
}

.blog-entry-title,
.blog-archive-month {
font-size: 37px;
line-height: 34px;
padding-bottom: 10px;
}

#siteTitle div{
line-height: 100%;
}

#siteTitle{
padding-bottom: 20px;
}
footer{
font-size: 1.8em;
font-weight: 100;
}

@font-face {
	font-family: 'ArialBlackRegular';
	src: url('font/arial-black-webfont.eot');
	src: url('font/arial-black-webfont.eot?#iefix') format('embedded-opentype'),
		 url('font/arial-black-webfont.woff') format('woff'),
		 url('font/arial-black-webfont.ttf') format('truetype'),
		 url('font/arial-black-webfont.svg#ArialBlackRegular') format('svg');
	font-weight: normal;
	font-style: normal;		
}

nav>ul {
font-family: 'ArialBlackRegular';
text-transform: uppercase;
letter-spacing: -3px;
}

nav ul ul{
font-size: 17px;
text-transform: uppercase;
}

nav ul ul>li>a{
padding: 5px 6px 6px;
}

nav>ul>li>a,
nav>ul>li>a:hover,
nav>ul>li>a.current{
padding: 5px 9px 4px 5px;
}

nav > ul{font-size:28px;}

nav>ul>li a,
nav>ul>li>a:hover {
background-image: url(images/arrow.png);
}

nav>ul>li>a:not(.current):hover{
background-position: 4px 0px;
padding-left: 28px;
}

#siteTitle{
padding-bottom: 15px;
}

nav{
padding: 30px 0 20px;
margin-top: 10px;
border-top-width: 1px;
border-top-style: dashed;
border-bottom-width: 1px;
border-bottom-style: dashed;
}

footer{
padding-top: 30px;
}

#featureImage {
	display: none;
}



		